.container{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  height: auto;
}

.loginContainer{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  height: 50rem;
}
.homeGrid{
  justify-content: center;
}

/* QUESTION PAGE */

.questionsPage, .blogsPage{
  margin-top: 20px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

/* BLOG PAGE */